html,
body{
    width: 100vw;
    height: 100vh;
}
.history{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}
.history-text{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: 1.5rem;
    margin-top: 5vh;
    font-weight: bolder;
}
.backgroud-video{
    position: fixed;
    height: 100vh;
    top: 0;
    z-index: -1;
}

::-webkit-scrollbar{
    display: none;
}

.year-container.original {
    animation: rollingleft1 90s linear infinite;
}
.year-container.clone {
    animation: rollingleft2 90s linear infinite;
    margin-left: 55%;
}

@keyframes rollingleft1 {
    0% { transform: translateX(0); }
    50% { transform: translateX(-100%); }
    50.01% { transform: translateX(100%); }
    100% { transform: translateX(0); }
}

@keyframes rollingleft2 {
    0% { transition: translateX(0); }
    100% { transform: translateX(-200%); }
}

.slide {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 15vw;
    position: relative;
    width: 100%;
    height: 70vh;
    user-select: none;
    align-items: center;
  }
  .year-container{
    display: flex;
    flex-direction: row;
    column-gap: 15vw;
    justify-content: center;
    align-items: center;
    height: 65vh;
    width: 100vw;
    margin-top: 4vw;
}
  .box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0px;
    width: 500px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 100%;
    transition: left 0.15s;

  }

  .first-year,
.second-year,
.comming-soon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 12vw; */
    font-size: 2.2rem;
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 100%;
    max-height: 500px;
    max-width: 500px !important;
    min-width: 400px;
    min-height: 400px;
    white-space: nowrap;
    box-shadow: 0 0 100px rgba(255, 255, 255, 0.339), 0 0 60px rgba(255, 255, 255, 0.339) inset;
    cursor: pointer;
}
.year{
    position: absolute;
    color: var(--white);
    font-size: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
  .slide_button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(50% - 16px);
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: #cccc;
    cursor: pointer;
  }

  .footer-bar{
    display: flex;
    column-gap: 2%;
    align-items: center;
    justify-content: center;
}
.footer-container{
    display: flex;
    flex-direction: column;
    row-gap: 13px; /* 이건 column-gap과 반대되는 코드!! column-gap은 옆에 여백을 주지만 row는 영어 그대로 위 아래 여백을 넓혀줌 */
    /* margin-top: 1.5vw; */
    /* margin-top: 1.5%; */
    margin-top: 25px;
}

  .back,
.next{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    min-width: 3.5vw; /* 반응형으로 만들때 사용하는 코드, 화면 비율이 아무리 작아저도 최소 3.5vw 크기는 돼야한다는 코드 */
    min-height: 3.5vw;
    font-size: 1.4rem;
    border: 1px solid var(--white);
    border-radius: 100%; /* 테두리 둥글게 */
}
  
  /* 페이지네이션 스타일 */
  ul,
  li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .slide_pagination {
    
    display: flex;
    column-gap: 15px;
    justify-content: center;
  }
  .slide_pagination > li {
    width: 12px;
    height: 12px;
    min-width: 10px;
    min-height: 10px;
    border: 1px solid rgba(255, 255, 255, 0.451);
    border-radius: 100%;
  }
  .slide_pagination > li.active {
    width: 12px;
    height: 12px;
    min-width: 10px;
    min-height: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 100%;
  }
  .line-container{
    display: flex;
    align-items: center;
    column-gap: 2vw;
}
.line{
    width: 24vw;
    height: 0;
    border: 0.1px solid var(--white);
}
.sub-year{
    color: var(--white);
    font-size: 1rem;
    white-space: nowrap;
}
  
  .slide_item_duplicate {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0px;
    width: 100%;
    height: 300px;
    flex-shrink: 0;
    transition: left 0.15s;
  }