@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    text-decoration: none;
}

html,
body,
header,
nav {
    height: 100%;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../img/bg.png');
}

header {
    width: 311px;
    position: absolute;
}

nav {
    display: flex;
    width: 311px;
    opacity: 0.85;
    flex-direction: column;
    background-color: #FFF;
}

#nav-icon {
    display: flex;
    font-size: 18px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    margin: 41px 0 21px 50px;
}

#nav-icon img {
    width: 31px;
    margin-right: 10px;
}

#nav-title {
    font-size: 30px;
    color: #3998FF;
    font-weight: 800;
    line-height: 48px;
    margin: 0 0 30px 50px;
}

#nav-list {
    width: 100%;
    line-height: 45px;
}

.nav-item {
    height: 74px;
    display: flex;
    color: #737373;
    border: 1px solid;
    padding-left: 50px;
    align-items: center;
    list-style-type: none;
    border-image-slice: 1;
    width: calc(100% - 50px);
    border-image-repeat: stretch; 
    border-top: 1px solid #3998FF;
    border-image-source: linear-gradient(180deg, rgba(17, 104, 198, 0.37) 0%, rgba(255, 255, 255, 0) 100%);
}

.nav-item.selected {
    color: #3998FF;
}

main {
    float: right;
    height: 100%;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    width: calc(100% - 311px);
    scroll-snap-type: x mandatory;
}

main img {
    flex: 0 auto;
}

main::-webkit-scrollbar {
    display: none;
}